

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');


:root {
  --background: #2C2C30; /* couleur fond de Navigation Bar */

  /* pour faire un dégradé */
  /*   --background: linear-gradient( rgb(255, 192, 203) , rgb(155, 092, 103)) ;  */
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #222;
  font-family: 'Quicksand', sans-serif;
}

/* navigation styles */
header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  min-width: 400px; /*taille minimum à synchroniser avec les autres éléments*/
  height: 90px; /* taille du navigation bar*/
}
.container div {
  height: 50px;
}

.nav-toggle {
  display: none;
}


.nav-toggle-label { /* boutonle menu déroulant */
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1.5em; 
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  transition: transform 0.4s ease-in-out;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}
.nav-toggle:checked ~ .nav-toggle-label span {
  transform: rotate(45deg);
}
.nav-toggle:checked ~ .nav-toggle-label span::before {
  opacity: 0;
}
.nav-toggle:checked ~ .nav-toggle-label span::after {
  transform: translateY(-7px) rotate(-90deg);
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none; 
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
  color: #000;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 11800px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .logo {
    grid-column: 2 / 3;
  }
  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul {
    display: flex;;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;  
  }
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform 250ms ease-in-out;
  }
  nav a:hover::before {
    transform: scale(1, 1);
  }
}
.drop-down{
    max-width: 220px;
}

/* partie William*/

/*.container,*/ .logo {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold; 
    letter-spacing: 1px;
    font-family: 'Rock Salt', cursive;
  }
  .logo a {
    color: white;
    text-decoration: none;
  }
  .logo a:active{
    color: white;
  }
  
  /*.container,*/ .menu {
    float: right;
    display: flex;
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 20px;
  }
  
  /*.container,*/ .menu a {
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
  }
  
  /*.container,*/ .menu a:hover {
    color: #2C3E50;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  }

  .iconProfil{ 
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    width: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    
  }