body, html {
	padding:  0;
	margin: 0;

}

.menu a, .menu a:hover {
	text-decoration: none;
}

.containerfluid {
	padding: 0;
}
/*header*/
.header {
    background-color: #2C2C30;
	height: 70px;
	line-height: 70px;
}
/*logo*/

.logo{
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	/* float: left; */
    margin-left: 20px;
    text-decoration: none;
}
/*menu*/

.menu {
	float: right;
	padding-right: 20px;
}

.menu a {
	color: #ffffff;
	margin-right: 20px;
}

.menu a:hover {
    background-color: rgb(44, 44, 58);
    border-radius: 15px;
    border: 0px none rgb(44, 44, 48);
    padding: 15px 0px 15px 0px;
}

.mainContain{
	display: flex;
	flex-direction: column;
	background-image: url(../assets/grotte.jpg);
	position: relative;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texte{
	z-index: 3;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	/*color*/
	color: white;
    text-shadow: black 2px 2px 3px;
}

@media screen and (max-width: 1250px){
    .mainContain{
        height: 400px;
        min-width: 720px;
    }
    .texte{
        font-size: 20px;
    }
}

.lin:link { 
text-decoration:none; 
} 
.footer {
	position: relative;
	bottom: 0px;
	left: 0px;
    width: 100%;
    min-width: 720px;/*taille minimum, attention non compatible avec @media sceen*/
    background-color: #252525;
    height: 230px;
    color: white;
    padding-top: 4.35238095em;
    padding-bottom: 2.85238095em;
    text-align: center;
    font-size: 1.2em;
}
.headingblock {
    padding-bottom: 50px;
}
.headingblock a {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.sociallist {
    padding-bottom: 20px;
}
.sociallist a {
    padding-left: 13px;
    padding-right: 13px;
}
#lastcontainer {
    justify-content: center;
    display: flex;
}
.lin {
    color: white;
}
.lin:visited, .lin:hover, .lin:focus, .lin:active {
    color: white;
}